.menu{
  width: 750px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background-color: #a3a3a32d;
  margin: auto;
  margin-top: 10px;
}

.draw-area{
  width: 1200px;
  height: 720px;
  border: 2px solid #808080;
  position: relative;
  background-color: white;
  margin-left: 140px;
  
}

.App h1{
  text-align: center;
}